<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="ws-server" value="ws://SERVER_HERE/"/>
    <add key="stanox" value=""/>
    <add key="twitter:consumerKey" value=""/>
    <add key="twitter:consumerSecret" value=""/>
    <add key="twitter:accessToken" value=""/>
    <add key="twitter:accessTokenSecret" value=""/>
    <add key="train:url" value=""/>
  </appSettings>
</configuration>